body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #d9d9fa;
}

nav {
    background: #38207a;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

nav a:hover {
    background: #575757;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: rgb(36, 6, 6);
    font-style: italic;
    
}

h4 {
    text-align: center;
    margin: 20px 0;
    color: rgb(51, 38, 231);
}


h2 {
    text-align: center;
    margin: 20px 0;
    color: rgb(67, 38, 231);
}

h3 {
    text-align: center;
    margin: 20px 0;
    color: rgb(100, 68, 173);
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea,
form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #0056b3;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table th {
    background: #f4f4f4;
}
